{{template "comm"}}
<div class="content">
    <div class="header">
        <h1 class="page-title">Add Role</h1>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-4">
                <br>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="tab" action="/role/addRole" method="post" >
                            <div class="form-group">
                                <label>角色名称</label>
                                <input type="text" value="{{.rolename}}" name="rolename" class="form-control">
                            </div>

                            <div class="btn-toolbar list-toolbar">
                                <input class="btn btn-primary"  type="submit" value="Save"/>
                                <input class="btn btn-primary"  type="button" value="back" onclick="location.href='/role/roleList'" />
                            </div>
                        </form>
                        <span>{{.errorMsg}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


