{{template "header"}}
<body class="theme-blue">
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="" href="index.html"> <span class="navbar-brand"><span class="fa fa-paper-plane"></span> Go语言开发后台管理系统</span></a>
    </div>
    <!--右上角账户信息-->
    <div class="navbar-collapse collapse" style="height: 1px;">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span>
                {{.User.Username}}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                {{/* <li><a href="./">My Account</a></li>*/}}
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="/logout">Logout</a></li>
                </ul>
            </li>
            </li>
        </ul>
    </div>
</div>
{{template "sidebar" .}}
    <!--中间内容区域-->
<iframe name="mainFrame" src="" border="none" width="100%"  height="800px">
</iframe>
</body>
</html>
